.main {
    background-color: black;
    justify-content: center;
    text-align: center;
}

.home {
    position: sticky;
}

.div-main {
    display: flex;
    padding-top: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.div-main .name {
    width: 25%;
    color: aliceblue;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(16deg,#4b90ff, #a97373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow( 2px 2px #eaeef0 ); 
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: #f6f0f0;
}

.nav-links li {
    color: aliceblue;
    list-style-type: none;
}



.div-main .git {
    width: 25%;
    color: aliceblue;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.home {
    height: 50vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 5rem;
    animation: switchRightToLeft 3s ease-in-out infinite alternate;
}

.info h3 {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    background: -webkit-linear-gradient(16deg,#4b90ff, #a97373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 1px 1px 1px 1px rgb(105, 195, 205);
}


.home .Developer {
    position: relative;
    font-size: 4.3rem;
    color: #A6BBCC;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    background: -webkit-linear-gradient(16deg,#4b90ff, #a97373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-wrap: wrap;
}

img {
    height: 330px;
    width: 330px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgb(105, 195, 205);
}

.about {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.about h3 {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(16deg,#4b90ff, #a97373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow( 2px 2px #eaeef0 ); 
}


.info h2 {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    background: -webkit-linear-gradient(16deg,#4b90ff, #a97373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactMe {
    color: aliceblue;
    font-weight: 600;
    font-size: 2.5rem;
    filter:drop-shadow( 2px 2px #eaeef0 );
    display: flex;
    margin: auto;
    width: 75%;
    flex-direction: column;
}

.footer-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 7rem;
    text-align: center;
    position: sticky;
    margin: auto;
    filter:drop-shadow( 2px 2px #eaeef0 );
    animation: switchRightToLeft 3s ease-in-out infinite alternate; 
}

.footer-box h3 {
    color: rgb(91, 170, 240);
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.footer-box .Developer {
    position: relative;
    font-size: 2rem;
    color: #A6BBCC;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    background: -webkit-linear-gradient(16deg,#4b90ff, #a97373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.details h2 {
    padding-top: 3rem;
    line-height: 3rem;
    line-break: anywhere;
    color: aliceblue;
}


.active {
    color: #6ab6dd;
}

.formPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactMe h3 {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    filter:drop-shadow( 2px 2px #eaeef0 ); 
}

.info h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    background: -webkit-linear-gradient(16deg,#4b90ff, #a97373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form {
    margin-top: 20px;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
    margin-bottom: 5px;
    font-size: 2rem;
}

input {
    width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #333;
    color: rgb(244, 236, 236);
}

button {
    padding: 10px 20px;
    background-color: #6ab6dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




@keyframes switchRightToLeft {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(-10%);
    }
  }

@media screen and (max-width: 768px) {
    .div-main {
        flex-direction: column;
        height: auto;
    }

    .nav-links {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 90%;
    }

    .div-main .name,
    .div-main .git {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .home {
        width: 90%; /* Adjust width for smaller screens */
        padding-top: 3rem; /* Adjust padding top for smaller screens */
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items vertically on smaller screens */
        justify-content: center; /* Center items horizontally on smaller screens */
        height: auto; /* Allow height to adjust dynamically */
    }

    .info h3 {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }

    .home .Developer {
        font-size: 3rem; /* Adjust font size for smaller screens */
    }

    img {
        height: 150px; /* Adjust image height for smaller screens */
        width: 150px; /* Adjust image width for smaller screens */
        border-radius: 50%;
    }

    .footer-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      animation: none;
    }

    .contactMe {
        color: aliceblue;
        font-weight: 400;
        font-size: 1.5rem;
        filter:drop-shadow( 2px 2px #eaeef0 );
        display: flex;
        margin: auto;
        width: 90%;
        flex-direction: column;
    } 

    input[type="text"],
    input[type="email"],
    textarea {
        width: 90%;
    }
    
    .about {
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    } 
}
